@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&family=Roboto:wght@100&display=swap");

:root {
  --primary-color: white;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0px auto;
  max-width: 100%;
  width: 60%;
  background-image: url("./images/pexels-mathias-reding-6243497.jpg");
  background-size: cover;
}

.container {
  padding: 0rem 1rem;
}

.container-center {
  max-width: 900px;
  width: 100%;
  margin: auto;
}

#txt-input {
  width: 86%;
  height: 10vh;
  display: block;
  margin: 1em;
  padding: 1rem;
  border-radius: 1rem;
  color: var(--primary-color);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:var(--primary-color)
}

#btn-translate-yoda,#btn-translate-minion {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  padding: 0.6rem 1rem;
  color: var(--primary-color);
}

#btn-translate-yoda:hover,#btn-translate-minion:hover {
  background: rgba(255, 255, 255, 0.2);
}

#output {
  padding: 1rem;
}

.section {
  padding: 2rem;
  margin: 2.5rem 0;
  border-radius: 1rem;
  text-align: center;
  color: var(--primary-color);
  background: rgba(255, 255, 255, 0);
  /* background:  linear-gradient(to right,rgba(119, 206, 240, 0.2),rgba(255, 255, 255, 0.2) ); */

  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

@media (max-width: 600px) {
  body {
    max-width: 95%;
    width: 90%;
  }

  .container-center {
    width: auto;
  }
}
